body{
  margin: 1em 5em;
  font-size: 1.2em !important;
}
/* LOAD/SAVE BUTTON */
.header{
margin: 10px 0px;
}

.left{
  float: left; 
  width: 50%;
}

.right{
  float: right;
  width: 50%;
}

.button {
  background-color: white;
  border: 1px solid black;
  color: black;
  /* text-align: center; */
  text-decoration: none;
  font-size: 1em;
  margin: 5px 0;
  width: 100%;
  /* height: 2em; */ 
}


.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* TABELLE */
table {
  width: 100%;
  table-layout:fixed;
  border-collapse: collapse;
}

thead tr,
tfoot tr {
  color: white;
  background: black;
}

tbody tr{
  /* border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px; */
}

td{
  word-wrap: break-word;
  padding:0 15px 0 15px;
}

.divider{
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
}

.counter{
 float: right;
 font-size: .8em;
 border: .5px solid black;
 padding: 2px;
}

/* CELL STYLE */
.show{
padding: 5px;
border: 1px solid black;
}

.info{
  padding: 5px;
}

.edit{
  padding: 5px;
  /* border: 3px dotted #4CAF50; */
  border: 1px solid black;
}

.edit textarea{
  /* word-wrap: break-word; */
  /* white-space: pre-wrap; */
  width: 100%;
  resize: none;
  overflow: hidden;
  outline: 0px solid transparent;
  border: 1px dotted #4CAF50;
  font-family: inherit;
  font-size: inherit;
}


.title{
  color: white;
  background: black;
  text-align: left;
  border: 1px solid white;
}